.main-box{
  display: flex;
  font-size: 2.5vw;
  width: 100%;
  height: auto;
  padding: 0%;
}
.main-slab{
  margin: 5% auto;
  border: 40px double black;
  background:  rgba(255, 255, 255, 0.9);
  padding: 3%;
  color: black !important;
  text-align: center;
  height: 125px;
  width: 10%;;
  border-radius: 100%;
  font-weight: 700;
  transition: .25s ease-in-out;
  cursor: pointer;
  mix-blend-mode: screen;
  font-family: 'Open Sans Condensed', sans-serif;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.main-slab:hover{
  border: 30px double black;
  background:  rgba(255, 255, 255, 1);
  transform: scale(1.10);
}
