.main-box{
  margin: 14% auto;
  background:  rgba(255, 255, 255, .95);
  padding: 1%;
  text-align: center;
  height: auto;;
  font-family: 'Open Sans Condensed', sans-serif;
  width: 47%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.testimonial{
  padding: 2%;
  margin: 5%;
  font-size: 1.5vw;
  height: 180px;
  transition: .25s ease-in-out;
}
.carousel-control-next, .carousel-control-prev{
  display: none;
  color: black !important;
  border: 1px solid black;
  background: black;
  width: 3%;
}
.carousel-indicators{
  margin: 0% auto;
}
.carousel-indicators li{
  background: black;
  height: .1vh;
  width: 3%;
  border-radius: 100%;
}

@media only screen and (max-width: 750px) {

  .main-box{
      margin: 102% auto;
      background: none;
      padding: 1%;
      text-align: center;
      height: auto;
      font-family: 'Open Sans Condensed', sans-serif;
      width: 100%;
        box-shadow: none;
      position: absolute;
    }
    .testimonial{
      font-size: 4.5vw;
    }
    .carousel-indicators li{
      background: black;
      height: .1vh;
      width: 3%;
      border-radius: 100%;
    }
    .carousel-indicators{
      margin: -2% auto;
    }
}
