.main-box{
  display: flex;
  font-size: 32px;
  width: 70%;
  width: 100%;
  height: 175px;
  padding: 0%;
}
.main-slab{
  margin: 4% 0 0 23%;;
  border: 5px solid transparent;
  background:  rgba(255, 255, 255, 0.85);
  padding: 3%;
  color: black !important;
  text-align: center;
  border-radius: 100%;
  height: 150px;
  width: 10%;;
  transition: .25s ease-in-out;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
}

.main-slab:hover{
  border: 5px solid #FFE5B4;
  background:  rgba(255, 255, 255, .95);
  transform: scale(1.10);
}
