.navbar{
  margin-bottom: 1%;
  padding: 1%;
  background: black;
}
.nav-btn{
  width: 22%;
  height: 50px;
  border: 2px solid #aaa;
  background: none;
  font-weight: 600;
  font-size: 13px;
  color: white;
  transition: .25s ease-in-out;
  font-family: 'Courgette', cursive;
  margin: .5%;
}
a:hover, a, a:active{
  text-decoration: none !important;
}

.nav-btn:hover{
  color: #FFE5B4;
  border: 1px solid white;
  background: rgba(255,255,255,.25);

}
#home-title{
  position: absolute;
  margin: 4% 0% 0 1.1%;
  color: white;
  font-weight: 600;
  font-family: 'Open Sans Condensed', sans-serif;
}
.nav-logo{
  height: 60px;

  width: 4%;
}
.qotd{
  display: none;
  position: absolute;
  background: rgba(255,255,255,.96);
  border: 2px solid black;;
  width: 100%;
  margin-left: 10%;
  margin-top: 0%;
  z-index: 101;
  text-align: center;
  font-size: 20px;
  border-radius: 5%;
}
.close-btn{
  position: absolute;
  background: none !important;
  border-radius: 0% !important;
  border: none;
  color: #aaa;
  font-size: 20px;
  margin-top: -15%;
  margin-left: 73%;
  transition: .25s ease-in-out;
  font-weight: 600;
}
.close-btn:hover{
  color: #FFE5B4;
}
@media only screen and (max-width: 750px) {
  .qotd{
    position: absolute;
    background: rgba(0,0,0,.96);
    border: 2px solid #FFE5B4;
    padding: 5%;
    color: #FFE5B4;
    width: 87%;
    margin-top: -25%;
    z-index: 101;
    text-align: center;
    font-size: 20px;
    border-radius: 2%;
    margin-left: 0%;
  }
  #home-title{
    position: absolute;;
    margin: 3% 0% 0 46.1%;
    background: black;
    color: white;
    font-weight: 600;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  .close-btn{
    margin-top: -5%;
    margin-left: 83%;
  }
}
