.ask-slab{
  display: grid;
  font-family: 'Open Sans Condensed', sans-serif;

}
.question{
  height: 150px;
  width: 70%;
  margin: 4% auto;
  font-size: 20px;
  text-align: center;
  border-radius: 2%;
  border: 1px solid black;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.subject{
  height:50px;
  width: 70%;
  margin: -2% auto;
  font-size: 17px;
  text-align: center;
  border-radius: 2%;
  border: 1px solid black;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.title-slab{
  margin: 0% auto;
  font-size: 3.4vw;
  padding: 2%;
  width: 65%;
  height: auto;
  text-align: center;
  /* background-image: url('./sf-bg.png'); */
  background-size: 100% 100%;
  font-weight: 900;

}
.ask-title{
  margin-top: 10%;
  color: white;
  background: none;
  font-family: 'Courgette', cursive;
  width: 100%;
  -webkit-text-stroke-width: .1px;
 -webkit-text-stroke-color: black;



}
.send-btn{
  align-content: center;
  margin-left: 47%;
  font-size: 22px;
  border: 1px solid black;
  padding: 1%;
  background: white;
  transition: .25s ease-in-out;
  border-radius: 3%;
}
.send-btn:hover{
  background: black;
  color: white;
}

.sunflower-design{
  width: 25%;
  transform: rotate(-180deg);
  margin-left: 74.5%;
  position:absolute;
}
@media only screen and (max-width: 600px) {
  .title-slab{
    margin: 2% auto;
    font-size: 24px;
    border: 3px solid white;;
    padding: 4%;
    width: 65%;
    text-align: center;
    background-image: url('./sunflowersbg.jpg');
    background-size: 100% 100%;
    border-radius: 3%;
    color: #FFE5B4;
    font-weight: 900;
  }
  .ask-title{
    margin-top: -5%;
  }
  .send-btn{
    align-content: center;
    margin-left: 42%;
    font-size: 18px;
    padding:2%;
  }
}
