.ask-slab{
  display: grid;
  font-family: 'Open Sans Condensed', sans-serif;

}
.question{
  height: 150px;
  width: 70%;
  margin: 2% auto;
  font-size: 20px;
  text-align: center;
    border-radius: 2%;
  border: 2px solid black;
}
.subject{
  height:50px;
  width: 70%;
  margin: 1% auto;
  font-size: 17px;
  text-align: center;
  border-radius: 2%;
  border: 2px solid black;
}
.title-slab{
  margin: 2% auto;
  font-size: 28px;
  border: 3px solid white;;
  padding: 4%;
  width: 22%;
  text-align: center;
  background-image: url('./sunflowersbg.jpg');
  background-size: 100% 100%;
  border-radius: 3%;
  color: #FFE5B4;
  font-weight: 900;

}
.ask-title{
  margin-top: -10%;
}
.send-btn{
  align-content: center;
  margin-left: 47%;
  font-size: 22px;
  border: 1px solid black;
  padding: 1%;
  background: white;
  transition: .25s ease-in-out;
  border-radius: 3%;
}
.send-btn:hover{
  background: black;
  color: white;
}

@media only screen and (max-width: 600px) {
  .title-slab{
    margin: 2% auto;
    font-size: 24px;
    border: 3px solid white;;
    padding: 4%;
    width: 65%;
    text-align: center;
    background-image: url('./sunflowersbg.jpg');
    background-size: 100% 100%;
    border-radius: 3%;
    color: #FFE5B4;
    font-weight: 900;
  }
  .ask-title{
    margin-top: -5%;
  }
}
