.footer{
  background: black;
  color: white;
  height: 140px;
  width: 100%;
  padding-top: .2%;
  text-align: center;
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;
}
.footer-item{
  color: white !important;
  width: 75%;
  margin: .5% auto;
}
a#mailer{
  color: white;
}
