.about-slab{
  height: 455px;
  width: 85%;
  background: white;
  margin: 2.5%;
  padding: 5%;
  display: flex;
  border: 2px solid black;
}
.bio-pic{
  height: 400px;
  width: 250px;
  border-radius: 100%;
  border: 1px solid black;
  background: #FFE5B4;
}
.mini-bio{
  background: white;
  padding: 2%;
  height: 245px;
  width: 80%;
  font-size: 2vw;
  margin-left: 2%;
  margin-top: 5%;
  font-family: 'Open Sans Condensed', sans-serif;

}
@media only screen and (max-width: 600px) {
  .bio-pic{
    height: 250px;
    width: 45%;
    border-radius: 100%;
    border: 1px solid black;
    background: #FFE5B4;
    margin-top: 10%
  }
  .mini-bio{
    font-size: 4.3vw;
  }
  .caller{
    position: absolute;
    margin: 4% 0 0 -34%;
    width: 75%;
    font-weight: 600;
  }
}
