.about-slab{
  height: 455px;
  width: 85%;
  background: white;
  margin: 2.5%;
  padding: 5%;
  display: flex;
  border: 4px solid black;
}
.bio-pic{
  height: auto;
  width: 25%;
  border-radius: 100%;
  border: 2px solid black;
  background: #FFE5B4;
}
.office-img{
  width: 25%;
  height: auto;
  border-radius: 100%;
  border: 2px solid black;
  margin-top: 0%;
}
.mini-bio{
  background: white;
  padding: 2%;
  height: 245px;
  width: 80%;
  font-size: 2vw;
  margin-left: 2%;
  margin-top: 5%;
  font-family: 'Open Sans Condensed', sans-serif;

}
.sf-about-design{
  position: absolute;
  width: 25%;
  transform: rotate(90deg);
  margin: -11% 0 0 -6%;
}
@media only screen and (max-width: 600px) {
  .bio-pic{
    height: 300px;
    width: 45%;
    border-radius: 100%;
    border: 1px solid black;
    background: #FFE5B4;
    margin-top: 10%
  }
  .office-img{
    width: 40%;
    height: auto;
    border-radius: 100%;
    border: 2px solid black;
    margin-top: 69%;
    position: absolute;
  }
  .mini-bio{
    font-size: 4.3vw;
  }
  .caller{
    position: absolute;
    margin: 1% 0 0 0%;
    width: 45%;
    font-weight: 600;
  }
}
